:root {
    --background-color: #f9f9f9;
    --text-color: #000;
    --card-bg: #fff;
    --border: #0000007a;
    --close-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23000"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --border: #ffffff7a;
    --close-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-close {
    --bs-btn-close-bg: var(--close-btn);
    --bs-btn-close-color: var(--card-bg);
}

.modal {
    --bs-modal-footer-border-color: var(--border);
    --bs-modal-header-border-color: var(--border);
}

.modal-alerts {
    background-color: var(--card-bg);
    border: 0.2vh solid var(--border);
    border-radius: 2.2vh;
}

.info,
.emisiones {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 3.5%;
    margin-bottom: 1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    display: grid;
}

.info>.icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 3vh;
}

#iconbeca {
    width: 30vh;
    /* filter: brightness(2); */
    /* mix-blend-mode: multiply; */
    border-radius: 2vh;
}

.info h2,
.emisiones h3 {
    margin-top: 0;
}

.info.sub {
    border: 0.2vh solid var(--border);
    border-radius: 2.2vh;
}

.estado {
    display: inline-flex;
    gap: 2vh;
    align-items: flex-end;
}

.status-icon-becario {
    width: 65px;
    height: auto;
}

.status-icon-bancarizacion {
    width: 65px;
    height: auto;
}

.status-text-becario {
    text-size-adjust: auto;
    font-size: xxx-large;
}

.status-text-becario.green {
    color: #27ae60;
}

.status-text-becario.yellow {
    color: #FFC700;
}

.status-text-becario.red {
    color: #EB5757;
}

.estado svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 0.5em;
    border-left: 0.25em solid var(--border);
    padding-left: 1em;
}

#explicacionBaja {
    margin-left: 0.5em;
    border-left: 0.25em solid #EB5757;
    padding-left: 1em;
}

#explicacionAny {
    margin-left: 0.5em;
    border-left: 0.25em solid #FFC700;
    padding-left: 1em;
}

.form-container {
    max-width: 500px;
    margin: auto;
}

.loading {
    display: none;
}

.hidden {
    display: none !important;
}

.bloque {
    margin-top: 20px;
    display: grid;
}

.bloque>.span-object {
    display: list-item;
    list-style: circle;
    margin-left: 0.5em;
    border-left: 0.25em solid #27ae60;
    padding-left: 1em;
    list-style: none;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-top: -8%;
    overflow: hidden;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 0.36vh solid var(--border);
}

fieldset {
    padding: 2vh;
    margin: 1vh;
    border: 0.2vh solid var(--border);
    border-radius: 2.2vh;
}

.main-conteiner {
    filter: drop-shadow(0.8vh 0.8vh 1vh rgba(0, 0, 0, 0.3));
}

.main-form {
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.hiddensensibledata {
    filter: blur(1vh) !important;
}

.pre-title {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.icons-conteiner {
    height: auto;
    width: 6vh;
}